body {
    background-color: black;
    color: white;
    text-align: left;
    border: 1px solid firebrick;
    
}

#fav-title {
    position: relative;
    bottom: 100px;
    left: 250px;
}

li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    border: 1px solid ;
    border-radius: 7px;
    padding: 10px;
    margin: 3px;
    right: 40px;
    bottom: 100px;
}


#favorites {
    float: right;
    position: absolute;
    top: 130px;
    right: 150px;
    text-align: center;
    background-color: black;
}


body, .right-div {
    padding: 100px;
}

h4,
h2,
h3{
    background-color: firebrick;
    width: 200px;
    text-align: center;
    border: 1px solid white;
    border-radius: 7px;
}

#h4-crypto {
    font-size: 20px;
}

/* buttons */

button {
    border: 1px solid firebrick;
    border-radius: 3px;
    margin: 10px;
}

/* #green-btn, #red-btn {
    background-color: greenyellow;
    border-radius: 10px;
}
#red-btn:hover {
    background-color: red;
} */

/* .borders:hover {
    color: black;
    background-color: white;
} */