body {
    background-color: black;
    color: white;
    text-align: left;
    border: 2px solid white;
    
}

.borders {
    display: inline-block;
    border: 1px solid whitesmoke;
    border-radius: 7px;
    padding: 10px 10px 5px;
}

.right-div {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}

/* .right-div {
    position: absolute;
    top: 0;
    right: 0;
    
} */

body, .right-div {
    padding: 60px;
}

h4,
h2{
    background-color: firebrick;
    width: 200px;
    text-align: center;
    border: 1px solid white;
    border-radius: 7px;
}

/* buttons */
#green-btn, #red-btn {
    background-color: greenyellow;
    border-radius: 10px;
}
#red-btn:hover {
    background-color: red;
}

#crypto-favs {
    border: 1px solid firebrick;
    margin: 20px;
    border-radius: 5px;
}

.borders:hover {
    color: black;
    background-color: white;
}